# Exclude data & environment variables from source control
/data/
# uncomment following line when introducing the secret environment variables in the '.env' file to avoid commiting the REDCap project URL & token to source control
#.env