# Exclude data & environment variables from source control
/data/
#.env # uncomment this line when introducing the secret environment variables to the '.env' file to avoid commiting the REDCap project URL & token to source control